/* .footer{
    background-color: red;
    position: relative;
    width: 100%;
    bottom: 0;
} */
.card{    
    /* cursor: pointer;     */
<<<<<<< HEAD
=======
    cursor: auto !important;
>>>>>>> 2025438ae6f9905293a6ddc910b76fef4633e855
    transition: all 0.6s;    
}    
.card:hover{    
     transform: scale(1.07);    
}   

.page{
    /* background-color: red; */
    margin-top: 30px;
    margin-bottom: 50px;
    
}

/* 區塊隱藏類別 */

.CityNone{
    display: none;
}





/* 區塊隱藏類別 */



<<<<<<< HEAD

=======
a {
    text-decoration:none;
}
.QAusername{
    color:royalblue ;
}

nav{
    position: initial !important;
}
>>>>>>> 2025438ae6f9905293a6ddc910b76fef4633e855

