<div class="page">
    <!-- page -->
    <span>1</span>
    <!-- <a href=""><span>2</span></a>
    <a href=""><span>3</span></a>
    <span>...</span>
    <a href=""><span>7</span></a>
    <a href=""><span>8</span></a>
    <a href=""><span>9</span></a> -->

</div>
<div class="random_recommend">
    <!-- 隨機推薦 -->
</div>