<ul class="subject nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="all-tab" data-toggle="tab" href="all" role="tab" aria-controls="all"
            aria-selected="true">全部主題</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="complex-tab" data-toggle="tab" href="complex" role="tab" aria-controls="complex"
            aria-selected="false">綜合討論</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="gossip-tab" data-toggle="tab" href="gossip" role="tab" aria-controls="gossip"
            aria-selected="false">閒聊</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="ask-tab" data-toggle="tab" href="ask" role="tab" aria-controls="ask"
            aria-selected="false">新手發問</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="system-tab" data-toggle="tab" href="system" role="tab" aria-controls="system"
            aria-selected="false">系統公告</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="delete-tab" data-toggle="tab" href="delete" role="tab" aria-controls="delete"
            aria-selected="false">回收區</a>
    </li>
</ul>