<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('share/head'); %>
</head>

<body>
    <div class="header">
        <%- include('share/navbar'); %>
    </div>
    <div class="container_cancelbs">
        <table>
            <tbody>
                <tr>
                    <td class="title"><label>請選擇主題分類：</label></td>
                    <td><select id="classResult">

                        </select></td>
                </tr>
                <tr>
                    <td class="title"><label>請輸入文章標題：</label></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="file"></td>
                </tr>
                <tr>
                    <!-- image -->
                </tr>
                <tr>
                    <td class="title"><label>請輸入文章內容：</label></td>
                </tr>
                <tr>
                    <td></td>
                    <td><textarea cols="50" rows="15"></textarea></td>
                </tr>
                <tr>
                    <td></td>
                    <td id="submit"><button>送出</button></td>
                </tr>
            </tbody>
        </table>

    </div>
</body>

</html>