<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('share/head'); %>
</head>
<body>
    <div class="header">
        <%- include('share/navbar'); %>
    </div>
    <div class="container">
        <div id="floorResult">
            
        </div>
        <div class="reply_div">
            <label>回覆：</label>
            <div class="reply_img_div">
                <input type="file" />
                <!-- <img src="" /> -->
            </div>
            <div class="reply_content">
                <textarea cols="60" rows="7"></textarea>
            </div>
            <div class="reply_post_submit_div">
                <input type="button" class="reply_post_submit" value="送出" />
            </div>
        </div>
    </div>
</body>
</html>