<!-- <a href="member/login">會員icon</a>
<a href="member/login">會員登入</a>
<a href="member/register">會員註冊</a> -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
       <!--限制寬度--><!-- container 預設justify-content: space-between;-->
       <a href="/member/<%= member %>" class="navbar-brand d-md-none button hover-shadow"
       ><img src="/image/navbar/login_icon.png" style="width: 30px" alt="Login"
     /></a>
     <!-- lg以上隱藏項目 -->
      <a class="navbar-brand" href="/">
        <img src="/image/navbar/Logo.png" alt="" width="80" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown">
        <span class="navbar-toggler-icon"><!--漢堡菜單圖標-->

        </span>
      </button>

      <!--d-none d-lg-block 隨寬度顯示隱藏項目-->
      <!--  -->
      <div class="collapse navbar-collapse " id="navbarNavDropdown">
        <ul class="navbar-nav  align-items-center">
          <li class="nav-item">
            <a class="nav-link   button rotate" href="/">首頁</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  button rotate" href="/product">以物易物</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  button rotate" href="/member/<%= member %>">會員中心</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  button rotate active" aria-current="page" href="/forum">討論區</a>
          </li>
        </ul>
        <form class="d-flex ms-auto">
          <!--ms-auto 左邊自動填滿-->
          <a href="/member/<%= member %>" class="d-none d-md-block button hover-shadow"
            ><img src="/image/navbar/login_icon.png" style="width: 30px" alt="Login"
          /></a>
          <!--d-none d-lg-block 隨寬度顯示隱藏項目-->
        </form>
      </div>
      <!--  -->
    </div>
  </nav>